<%= form_for(@announcement) do |f| %>
  <%= render '/application/error_explanation', :resource => @announcement %>

  <div class="field">
    <!-- raw? see the problem with a validation error -->
    <%= raw(f.label :message) %><br />
    <%= raw(f.text_area :message) %>
  </div>
  <div class="field">
    <%= f.label :starts_at %><br />
    <%= f.datetime_select :starts_at %>
  </div>
  <div class="field">
    <%= f.label :ends_at %><br />
    <%= f.datetime_select :ends_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
