-# tags in this partial are all ment to be fix-positioned in the page

%nav#control-panel

  - if current_user
    %div{:class => session[:has_just_auth] ? 'blink-once' : nil}
      %em= current_user
    = link_to 'logout', logout_path
    = link_to 'hide note', '#', :id => 'toggle-current-user-note'
    = link_to 'home', root_path unless request.fullpath == root_path
  - else
    = link_to 'login',  login_path
    = link_to 'signup', signup_path

