%title= "#{yield :page_title_content} | #{Setting.app_title}"
%meta{:name => Setting.meta_name}
%meta{:name => 'keywords', :content => Setting.meta_keywords}

= favicon_link_tag

= stylesheet_link_tag    'application'
= yield :css_content

= javascript_include_tag 'application'
= yield :js_content

= csrf_meta_tags
