!!!
%html{:lang => I18n.locale}
  %head

    %title= yield :title_content

    = stylesheet_link_tag    'application'
    = yield :css_content

    = javascript_include_tag 'application'
    = yield :js_content

    = csrf_meta_tags

  %body{:id => "#{controller_name.parameterize}_controller"}

    #fixed= render '/layouts/fixed'
    #announcements= render '/announcements/current_announcements'
    #flash-messages= flash_messages

    #container
      #header
        %h3= yield :title_content
  
  
      // content ================================================================
      #content
        = test_show_partial
        = yield
      // /content ===============================================================
  
  
      #footer
    
    = test_show_params


