!!!
%html{:lang => I18n.locale}
  %head
    %title= Setting.app_title
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags 
  %body{:id => controller_name}
    #absolute= render '/layouts/absolute'
    #announcements= render announcements
    #flash-messages= flash_messages
    #header

    -# content ================================================================
    #content= yield
    -# /content ===============================================================

    #footer


