!!!
%html{:lang => I18n.locale}

  %head= render '/layouts/head'

  %body{:id => "#{controller_name.parameterize}_controller"}

    #fixed= render '/layouts/fixed'
    #announcements= render '/announcements/current_announcements'
    #flash_messages= flash_messages

    #container
      #header
        %h3= yield :title_content

      // content ==============================================================
      #content
        = test_show_partial
        = render '/users/current_user_note'
        = yield
      // /content =============================================================
  
  
      #footer
        %nav
          = link_to_back
          = yield :footer_nav_content

    #credits
      %nav
        = link_to_ecoologic
        = link_to image_tag('rails.png'), 'http://rubyonrails.org/'
        
    = test_show_params


